/*----------------------1440px-----------------*/
@media all and (max-width: 1440px) {
}

/*-----------1024px-----------------------------*/
@media all and (max-width: 1024px) {
}

/*-----------768px-----------------------------*/
@media all and (max-width: 768px) {
}

/*-----------425px-----------------------------*/
@media all and (max-width: 424px) {
}

/*-----------375px-----------------------------*/
@media all and (max-width: 376px) {
}

/*-----------320px-----------------------------*/
@media all and (max-width: 320px) {
}
