/*=================Responsive====================*/

/*-----------375px-----------------------------*/
@media all and (max-width: 376px) {
}

/*-----------320px-----------------------------*/
@media all and (max-width: 320px) {
}

/*-----------425px-----------------------------*/
@media all and (max-width: 424px) {
  .profile-image img {
    width: 300px;
  }
  .home-title h1 {
    font-size: 30px;
    font-weight: bold;
  }
  .home-title h3 {
    font-size: 20px;
  }
  .home-title p {
    font-size: 17px;
  }
  .about-title div p {
    font-size: 18px;
  }
  .numdiv .description h2 {
    font-size: 20px;
  }
  .home-title h1 span {
    font-size: 30px;
    font-weight: bold;
  }
  .social-media a {
    width: 38px;
    height: 38px;
  }
  .education-des {
    margin-left: 10px;
    margin-right: 10px;
  }
  .skill-content div {
    height: 218px;
    width: 350px;
  }
  .skill-content > div > h2 {
    font-size: 18px;
  }
}

@media all and (max-width: 600px) {
  .project-content .imageproject {
    width: 400px;
    height: 380px;
  }
}

/*-----------768px-----------------------------*/
@media all and (max-width: 768px) {
  #menu-icon {
    display: block;
    margin-right: 60px;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: #1f242d;
    display: none;
  }
  .navbar a {
    display: block;
    font-size: 15px;
    margin: 35px 20px;
  }
  .navbar.active {
    display: block;
  }
  .home-content {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .about-content {
    flex-direction: column;
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 50px;
    margin-top: 0;
  }

  .skill-title h1 {
    padding-top: 0;
  }
  .skill-content {
    flex-direction: column;
  }
  .skill-content div {
    margin-bottom: 50px;
  }
  .project-content {
    flex-direction: column;
  }

  .contact-content > .form-content {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
}
