* {
  font-style: normal;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

body {
  background: #323946;
}

/*=================Header============================*/

header {
  background: #2f333e;
  width: 100%;
  position: fixed;

  top: 0;
  z-index: 1;
}

header > nav {
  position: absolute;
  right: 0;
  top: 15px;
}

header > nav > menu > ul > li {
  display: inline-block;
  padding-right: 20px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 2px;
  margin-right: 16px;
}

header > nav > menu > ul > li > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

header > nav > menu > ul > li > a:hover {
  color: #0ef;
}

header > h1 {
  margin-left: 60px;
  color: rgb(255, 255, 255);
  width: 300px;
}
header > h1 > span {
  color: #0ef;
}
header > h1:hover {
  color: #0ef;
}
header > nav > menu > ul > #icon {
  font-size: 30px;
  position: absolute;
  top: 12px;
  left: 0;
  cursor: pointer;
  display: none;
  color: rgb(246, 246, 246);
}

/*===============All Section=============*/
section {
  min-height: 100vh;
  padding: 5rem 5% 1rem;
}

/*==========Home========================*/

.home .home-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-direction: column; */
  padding: 50px;
}
.home-title {
  width: 65vw;
}

.home-title h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.home-title h1 span {
  color: #0ef;
  font-size: 50px;
  font-weight: bold;
}

.home-title h3 {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.home-title p {
  color: rgb(201, 193, 193);
  font-size: 20px;
  font-weight: bold;
}

.contactbttn {
  margin-top: 55px;
}
.contactbttn a {
  padding: 1rem 2.8rem;

  border-radius: 20px;
  box-shadow: 0 0 1rem #0ef;
  border: 1px solid #0ef;
  font-size: 1rem;
  color: aliceblue;
  font-weight: bold;
  transition: 0.5s ease;
  text-decoration: none;
  background: #0ef;
}

.contactbttn a:hover {
  box-shadow: none;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  margin: 5px;
  margin-top: 50px;
  text-decoration: none;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: #0ef;
  color: aliceblue;
  box-shadow: 0 0 1rem #0ef;
}

.profile-image img {
  width: 350px;
  border-radius: 30px;
  box-shadow: 0 1px 10px #0ef;
}

/* ==================About Me============== */
.about {
  background-color: #1f242d;
}
.about-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 60px;
}

.about-title {
  width: 65vw;
  padding-bottom: 50px;
  margin-left: 20px;
}
.about .image-content img {
  width: 280px;
  border-radius: 30px;
  box-shadow: 0 1px 10px #0ef;
}
.about-title div h1 {
  color: white;
  text-align: center;
  font-size: 35px;
}

.about-title div p {
  color: rgb(201, 193, 193);
  font-size: 20px;
  font-weight: bold;
}
.downloadbttn {
  padding: 1rem 2.8rem;

  border-radius: 20px;
  box-shadow: 0 0 1rem #0ef;
  border: 1px solid #0ef;
  font-size: 1rem;
  color: aliceblue;
  font-weight: bold;
  transition: 0.5s ease;
  text-decoration: none;
  background: #0ef;
}
.downloadbttn:hover {
  box-shadow: none;
}
.dounbuttonsec {
  margin-top: 50px;
}

/*=========My Education==================*/

.education-content h1 {
  color: #0ef;
  text-align: center;
  font-size: 35px;
}

.education-des {
  border-left: 5px solid #0ef;
  margin-left: 60px;
  margin-right: 60px;
}
.description {
  margin-left: 50px;
}

.numdiv {
  padding-top: 4px;
  position: relative;
}

.number {
  border: 3px solid #0ef;
  background-color: #0ef;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: aliceblue;
  font-weight: bold;
  position: absolute;
  left: 9px;
  top: 16px;
}

.numdiv .description h2 {
  color: white;
  margin-left: 10px;
}
.numdiv .description h3 {
  color: rgb(201, 193, 193);
  margin-left: 10px;
}
.numdiv .description h4 {
  color: #0ef;
  margin-left: 10px;
}

/*=============Skills======================*/
.skill {
  background-color: #1f242d;
}
.skill-title h1 {
  color: white;
  font-size: 35px;
  text-align: center;
  padding-top: 40px;
}

.skill-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  padding: 25px;
}
.skill-content > div > h2 {
  color: white;
}

.skill-content div {
  border-radius: 20px;
  height: 224px;
  width: 400px;
  background: #323946;
  margin-bottom: 100px;
  transition: 0.7s ease;
}
.skill-content div:hover {
  box-shadow: 0 1px 10px #0ef;
  transform: scale(1.1);
}
.skill-content div h2 {
  display: flex;
  justify-content: center;
}
.skill-content div h2 i {
  color: #0ef;
  font-size: 30px;
  padding-right: 15px;
}
.skill-content div ul {
  list-style: none;
  padding-left: 70px;
  margin: 0;
}

.skill-content div ul li {
  padding-top: 10px;
  color: rgb(201, 193, 193);
  font-weight: bold;
}
.skill-content div ul li i {
  color: #0ef;
  padding-right: 10px;
}
/*=============Project======================*/

.project > div > h1 {
  color: #0ef;
  padding: 10px;
  text-align: center;
  font-size: 35px;
}
.project-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-content .imageproject {
  border-radius: 40px;
  width: 580px;
  height: 380px;
  margin: 20px;
  transition: 0.7s ease;
}
.project-content .imageproject:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 10px #0ef;
}
.project-content .imageproject div {
  width: 100%;
  height: 50%;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
.project-content .imageproject div img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.des-con {
  background-color: #1f242d;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.des-con > h1 {
  color: #0ef;
  margin: 0;
  font-size: 27px;
}
.des-con > p {
  color: rgb(201, 193, 193);
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}
.des-con > a {
  padding: 15px 50px 15px 50px;
  border-radius: 15px;
  box-shadow: 0 0 1rem #0ef;
  font-size: 1rem;
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
  background: #0ef;
  transition: 0.5s ease;
}
.des-con > a:hover {
  box-shadow: none;
}
/* .morbttn {
  padding: 15px;
  display: flex;
  justify-content: end;
}

.morbttn a {
  padding: 1rem 2.8rem;
  border-radius: 20px;
  box-shadow: 0 0 1rem rgb(30, 171, 20);
  font-size: 1rem;
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
  background: rgb(30, 171, 20);
  transition: 0.5s ease;
}
.morbttn a:hover {
  box-shadow: none;
} */

/*============Contact==================*/
.footer {
  background-color: #1f242d;
}
.footer > .contact-title > h1 {
  color: white;
  text-align: center;
  font-size: 35px;
  padding-bottom: 10px;
}

.footer > .contact-content {
  padding: 0;
  display: flex;
  justify-content: center;
}

.contact-content > .form-content {
  width: 50%;
}
.form-content .input-box {
  display: flex;
}
.form-content .input-box input {
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  margin: 7px;
  background: #323946;
  color: white;
  border: none;
}
.form-content textarea {
  width: 100%;
  border-radius: 20px;
  background: #323946;
  color: white;
  padding: 20px;
  margin: 7px;
  resize: none;
  border: none;
}
#send {
  padding: 15px 50px 15px 50px;
  border-radius: 15px;
  box-shadow: 0 0 1rem #0ef;
  font-size: 1rem;
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
  background: #0ef;
  border: none;
  transition: 0.5s ease;
}
#send:hover {
  box-shadow: none;
}
.button-section {
  padding: 5px;
  text-align: end;
}
footer {
  padding: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

footer .footer-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  margin: 5px;

  text-decoration: none;
  transition: 0.5s ease;
}
footer .footer-social a:hover {
  background: #0ef;
  color: aliceblue;
  box-shadow: 0 0 1rem #0ef;
}
