* {
    font-style: normal;
    scroll-behavior: smooth;
}

/*=================Header============================*/
header {
    background: white;
    width: 100%;
    position: fixed;
    box-shadow: 0 4px 5px #3A86FF;
    top: 0;
    z-index: 1;
}

header > nav {
    position: absolute;
    right: 0;
    top: 15px;
}

header > nav > menu > ul > li {
    display: inline-block;
    padding-right: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 2px;
    margin-right: 16px;
}
header > nav > menu > ul > li>a{
    text-decoration: none;
    color: black;
}
header > nav > menu > ul > li>a:hover{
    color: blue;
}
header > h1 {
    margin-left: 25px;
    color: blue;
}
/*===============All Section=============*/
body > main > section {
    margin-top: 81px;
    margin-left: 100px;
    margin-right: 70px;
    margin-bottom: 30px;

    /*border: 2px solid;*/

    padding-top: 10px;
    position: relative;
    /*height: 950px;*/
}

/*==========Home========================*/
main > section:nth-child(1) > dfn > h1 {
    font-family: "Arial Black";
    font-weight: bold;
    font-size: 50px;
    margin-top: 60px;
}

main > section:nth-child(1) > dfn > h3 {
    color: rgba(113, 104, 104, 0.85);
    font-weight: bold;
    font-size: 30px;
    margin-top: 40px;
}


#bttn1 {
    border: none;
    background-color: #0048ff;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    font-family: "Bell MT", sans-serif;
    font-weight: bold;
    border-radius: 25px;
    position: relative;
    left: 135px;
    top: 41px;
    opacity: 0.8;
    transition: 0.3s;
}

#bttn1:hover {
    color: white;
    opacity: 1;
}

main > section:nth-child(1) > dfn > div:nth-child(4) {
    background: url("../img/IMG_20220523_000321_899.jpg");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
    position: relative;
    left: 820px;
    bottom: 80px;
    box-shadow: 4px 2px 10px 2px #1362ad;
    border-radius: 50px;
}


main > section:nth-child(1) > dfn > h2 {
    position: absolute;
    color: #095fc0;
    font-family: "Arial Black";
    text-shadow: 2px 2px 8px #4a5a74;
    font-weight: bold;
    bottom: 210px;
    left: 74px;
}

main > section:nth-child(1) > dfn > figure > div {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
    border-radius: 100%;
}

main > section:nth-child(1) > dfn > figure:nth-child(6) {
    position: absolute;
    bottom: 100px;
    left: 90px;
}

/*==================About Me==============*/
main > section:nth-child(2) > dfn > h1 {
    font-family: "Arial Black";
    color: greenyellow;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 8px #151313;
}

main > section:nth-child(2) > div:nth-child(2) {
    background: url("../img/about.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 4px 2px 10px 2px #1362ad;
    height: 497px;
    width: 300px;
    position: absolute;
    top: 121px;
    left: 70px;
    border-radius: 20px;
}

main > section:nth-child(2) > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    position: relative;
    left: 460px;
    bottom: 60px;
}

main > section:nth-child(2) > div:nth-child(3) > p:nth-child(1) {
    padding-top: 50px;
    color: black;
    font-size: 26px;
    font-weight: bold;
}

main > section:nth-child(2) > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 86%;
    position: relative;
    left: -4px;
    bottom: 1px;
}

main > section:nth-child(2) > div:nth-child(3) > div:nth-child(2) > h4 {
    font-size: 17px;
    margin: 7px;
}

main > section:nth-child(2) > a > #bttn2 {
    border: none;
    background-color: #0048ff;
    cursor: pointer;
    font-family: "Bell MT", sans-serif;
    font-weight: bold;
    border-radius: 20px;
    opacity: 0.8;
    transition: 0.3s;
    padding: 10px 20px;
    font-size: 30px;
    position: absolute;
    right: 68px;
    bottom: 28px;

}

main > section:nth-child(2) > a > #bttn2:hover {
    color: white;
    opacity: 1;
}
#title{
    text-decoration: none;
}

/*=========My Education=================*/
main>section:nth-child(3){
    height: 550px;
}
main > section:nth-child(3) > dfn > h1 {
    font-family: "Arial Black";
    color: greenyellow;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 8px #151313;
}

main > section:nth-child(3) > div {
    display: inline-block;
    width: 20%;
}

main > section:nth-child(3) > div > h2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: "Arial Black";
}

main > section:nth-child(3) > div > h4 {
    color: blue;
    font-family: "Arial Black";
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border: 2px solid;
    border-radius: 50px;
    box-shadow: 1px 1px 1px 1px #078cf6;
    padding: 10px;
}

main > section:nth-child(3) > div > p {
    text-align: center;
}

main > section:nth-child(3) > #img1 {
    position: relative;
    left: 110px;
    bottom: 90px;
}

main > section:nth-child(3) > div:nth-child(3) {
    position: relative;
    left: 150px;
    bottom: 10px;
}

main > section:nth-child(3) > #img2 {
    position: relative;
    left: 410px;
    bottom: 90px;
}

main > section:nth-child(3) > div:nth-child(5) {
    position: relative;
    left: 450px;
    bottom: 20px;
}

main > section:nth-child(3) > #img3 {
    position: relative;
    right: 590px;
    top: 160px;

}

main > section:nth-child(3) > div:nth-child(7) {
    position: relative;
    right: 550px;
    top: 230px;
}

main > section:nth-child(3) > #img4 {
    position: relative;
    right: 290px;
    top: 160px;
}

main > section:nth-child(3) > div:nth-child(9) {
    position: relative;
    left: 870px;
    top: 60px;
}

/*=============Skills======================*/
main > section:nth-child(4) > dfn > h1 {
    font-family: "Arial Black";
    color: greenyellow;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 8px #151313;
}

main > section:nth-child(4) > h3 {
    color: blue;
    font-family: "Arial Black";
    font-size: 20px;
    position: relative;
    width: 150px;
    left: 100px;
}

main > section:nth-child(4) > .lang {
    height: 130px;
    width: 130px;
    box-shadow: 4px 2px 10px 2px #1362ad;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    left: 220px;
}

.lang:hover {
    background-color: #4a5a74;
}

main > section:nth-child(4) > .tool {
    height: 130px;
    width: 130px;
    box-shadow: 4px 2px 10px 2px #1362ad;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    left: 50px;
}

.tool:hover {
    background-color: #4a5a74;
}

/*=============Project======================*/
main > section:nth-child(5) > dfn > h1 {
    font-family: "Arial Black";
    color: greenyellow;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 8px #151313;
}

main > section:nth-child(5) > figure > a > img {
    box-shadow: 4px 2px 10px 2px #5d5f61;
    border-radius: 30px;
}

main > section:nth-child(5) > figure > a > img:hover {
    box-shadow: 4px 2px 10px 5px #1362ad;
}

main > section:nth-child(5) > figure > a:nth-child(1) > img:nth-child(1) {
    position: relative;
    left: -10px;
    top: 55px;
}

main > section:nth-child(5) > figure > a:nth-child(3) > img:nth-child(1) {
    position: relative;
    left: 430px;
    bottom: 275px;
}

main > section:nth-child(5) > figure > a:nth-child(5) > img:nth-child(1) {
    position: relative;
    left: 870px;
    bottom: 605px;
}

main > section:nth-child(5) > figure > figcaption:nth-child(2) {
    position: relative;
    top: 100px;
    left: 60px;
    width: 400px;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

main > section:nth-child(5) > figure > figcaption:nth-child(4) {
    position: relative;
    bottom: 226px;
    left: 480px;
    width: 400px;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

main > section:nth-child(5) > figure > figcaption:nth-child(6) {
    position: relative;
    bottom: 550px;
    left: 950px;
    width: 400px;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

main > section:nth-child(5) > figure {
    height: 500px;
}

/*============Assignment==================*/
main > section:nth-child(6) > dfn > h1 {
    font-family: "Arial Black";
    color: greenyellow;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 8px #151313;
}
/*============Contact==================*/

footer > dfn > h1 {
    font-family: "Arial Black";
    color: greenyellow;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 8px #151313;
}

footer > address > figure {
    width: 600px;
    height: 400px;
    margin-left: 100px;
}

footer > address > figure > #user {
    position: relative;
    left: 50px;
    top: 30px;
}

footer > address > figure > #uh2 {
    position: relative;
    left: 150px;
    bottom: 33px;
    width: 400px;
}

footer > address > figure > #call {
    position: relative;
    left: 50px;
    bottom: 20px;
}

footer > address > figure > #ch2 {
    position: relative;
    left: 150px;
    bottom: 85px;
    width: 400px;
}

footer > address > figure > #mail {
    position: relative;
    left: 50px;
    bottom: 70px;
}

footer > address > figure > #mh2 {
    position: relative;
    left: 150px;
    bottom: 129px;
    width: 400px;
}

footer > address > figure > #loc {
    position: relative;
    left: 50px;
    bottom: 120px;
}

footer > address > figure > #lh2 {
    position: relative;
    left: 150px;
    bottom: 180px;
    width: 400px;
}

footer > address > form {
    width: 600px;
    height: 470px;
    position: absolute;
    top: 16px;
    right: 150px;
}

footer > address {
    position: relative;
}

.text {
    border: none;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 4px 2px 10px 2px #5d5f61;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    outline: none;
}

#text {
    border: none;
    width: 500px;
    border-radius: 10px;
    box-shadow: 4px 2px 10px 2px #5d5f61;
    resize: none;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    outline: none;
}

.text:hover {
    box-shadow: 1px 1px 1px 1px #078cf6;
}

#text:hover {
    box-shadow: 1px 1px 1px 1px #078cf6;
}

#send {
    border: none;
    background-color: #0048ff;
    cursor: pointer;
    font-family: "Bell MT", sans-serif;
    font-weight: bold;
    border-radius: 20px;
    opacity: 0.8;
    transition: 0.3s;
    padding: 10px 20px;
    font-size: 30px;
    position: absolute;
    right: 100px;
    top: 400px;
}

#send:hover {
    color: white;
    opacity: 1;
}
footer >address> aside>figure>div {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px;
    border-radius: 100%;
    position: relative;
    left: 200px;
}

#foot{
    background-color: black;
    height: 50px;
}
#foot>p{
    color: white;
    text-align: center;
    padding: 15px;
}
