* {
  font-style: normal;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

body {
  background: #323946;
}

/*=================Header============================*/
.header {
  position: fixed;

  width: 100%;
  padding-left: 25px;
  background-color: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.header h1 {
  color: white;
}
.header h1 span {
  color: #0ef;
}
.navbar div {
  margin-right: 60px;
}
.navbar a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}
.navbar a:hover {
  color: #0ef;
}
#menu-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: white;
}

/*===============All Section=============*/
section {
  min-height: 100vh;
  padding: 5rem 5% 1rem;
}

/*==========Home========================*/

.home .home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 70px;
  padding-bottom: 50px;
}
.home-title {
  /* border: 1px solid white; */
}

.home-title h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.home-title h1 span {
  color: #0ef;
  font-size: 50px;
  font-weight: bold;
}

.home-title h3 {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.home-title p {
  color: rgb(201, 193, 193);
  font-size: 20px;
  padding-right: 10px;
}

.contactbttn {
  margin-top: 55px;
  
}
.contactbttn a {
  padding: 1rem 2.8rem;

  border-radius: 20px;
  border: 1px solid #0ef;
  font-size: 1rem;
  color: aliceblue;
  font-weight: bold;
  
  text-decoration: none;
  background: #0ef;
}

.social-media {
  display: flex;
}
.social-media > a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  margin: 8px;
  margin-top: 50px;
  text-decoration: none;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: #0ef;
  color: aliceblue;
  box-shadow: 0 0 1rem #0ef;
  
}

.profile-image img {
  width: 350px;
  border-radius: 30px;
  box-shadow: 0 1px 10px #0ef; 
  
  transition: 0.4s ease;
}

.profile-image img:hover {
   transform: scale(1.05);
}



/* ==================About Me============== */
.about {
  background-color: #1f242d;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 60px;
}

.about-title {
  padding: 0 20px 30px 20px;
  /* border: 1px solid white; */
}
.about .image-content img {
  width: 320px;
  border-radius: 30px;
  box-shadow: 0 1px 10px #0ef;
  
  transition: 0.4s ease;
}

.about .image-content img:hover {
  transform: scale(1.05);
}
.about-title div h1 {
  color: white;
  text-align: center;
  font-size: 35px;
}

.about-title div p {
  color: rgb(201, 193, 193);
  font-size: 25px;
}
.dounbuttonsec {
  margin-top: 50px;
  display: flex;
  justify-content: end;
}

.downloadbttn {
  padding: 1rem 2.8rem;

  border-radius: 20px;
  /* box-shadow: 0 0 1rem #0ef; */
  border: 1px solid #0ef;
  font-size: 1rem;
  color: aliceblue;
  font-weight: bold;
  transition: 0.5s ease;
  text-decoration: none;
  background: #0ef;
}
.downloadbttn:hover {
  box-shadow: none;
}


/*=========My Education==================*/

.education-content h1 {
  color: #0ef;
  text-align: center;
  font-size: 35px;
}

.education-des {
  border-left: 5px solid #0ef;
  padding-left: 20px;
}
.description {
  margin-left: 50px;
}

.numdiv {
  padding-top: 4px;
  position: relative;

}

.number {
  border: 3px solid #0ef;
  background-color: #0ef;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: aliceblue;
  font-weight: bold;
  position: absolute;
  left: 9px;
  top: 16px;
  
}

.numdiv .description h2 {
  color: white;
  margin-left: 10px;
}
.numdiv .description h3 {
  color: rgb(201, 193, 193);
  margin-left: 10px;
}
.numdiv .description h4 {
  color: #0ef;
  margin-left: 10px;
}

/* =========Experience================== */
.experience{
   background-color: #1f242d;
}


.experience-section h1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 35px;
}

.experience-content{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.experience-card{
  background: #323946;
  border-radius: 20px; 
  padding: 30px 40px;
  max-width: 500px;
  margin-bottom: 50px;
  transition: 0.9s ease;
}

.experience-card:hover{
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  transform: scale(1.05);
}

.card-title{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.card-title h2{
  color: #0ef;
  margin: 0;
}
.card-title h3{
  border-radius: 20px;
  padding: 12px 15px;
  background: #1f242d;
  color: white;
}

.experience-card h3{
  margin: 0;
}
#company-name{
  color: white;
  padding-top: 10px;
  font-size: 16px;
}

#compani-loc{
  color: white;
  padding-top: 10px;
  font-size: 16px;
  font-weight: normal;
}

.experience-card h3 i{
  color: #0ef;
  padding-right: 10px;
}

.experience-card p{
  color: silver;
  font-weight: normal;
  padding-top: 15px;
}

.experience-card h4{
  color:white;
  font-weight: bold;
}
#respon{
  padding-left: 5px;
}

#respon li i{
  color: #0ef;
  padding-right: 10px;
}
#respon li{
  color: silver;
  list-style: none;
  padding-top: 10px;
  font-size: 14px;
}

#tech{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 8px;
}
#tech li{
  list-style: none;
  border-radius: 20px;
  padding: 5px 20px;
  background: #1f242d;
  color: white;
  font-size: 15px;
}


/*=============Skills======================*/
.skill-title h1 {
  color: #0ef;
  font-size: 35px;
  text-align: center;
}

.skill-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(15px, 3vw, 50px);
  margin-top: 50px;
  padding-bottom: 20px;
}
.skill-content > div > h2 {
  color: white;
}

.skill-content div {
  border-radius: 20px; 
  background-color: #1f242d;
  padding: 30px 15px;

  transition: 0.9s ease;
}
.skill-content div:hover {
  box-shadow: 0 1px 10px #0ef;
  transform: scale(1.1);
}
.skill-content div h2 {
  text-align: center;
}
.skill-content div h2 i {
  color: #0ef;
  font-size: 20px;
  padding-right: 15px;
}
.skill-content div ul {
  list-style: none;
}

.skill-content div ul li {
  padding-top: 5px;
  color: rgb(201, 193, 193);
  font-weight: bold;
}
.skill-content div ul li i {
  color: #0ef;
  padding-right: 10px;
}
/*=============Project======================*/
.project {
  background-color: #1f242d;  
}

.project > div > h1 {
  color: white;
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

.project-content{
  padding:20px 0 50px;
}

.imageproject{
  background:#323946;
  border-radius:15px;
  overflow:hidden;

  display:flex;
  flex-direction:column;

  width:100%;
}

.swiper-slide{
  height: auto;
  display: flex;
}

.swiper-wrapper {
  align-items: stretch;
}

.img-con img{
  width:100%;
  height:250px;
  object-fit:cover;
}


.des-con{
  padding:20px;
  display:flex;
  flex-direction:column;
  flex:1;
}


.des-con h1{
  color:#0ef;
  font-size:20px;

  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;
  overflow:hidden;
}


.des-con p{
  color:#ccc;
  font-size:14px;
  line-height:1.5;
  margin:15px 0;

  display:-webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;
}

.view-button{
  display: flex;
  justify-content: end;
}

.des-con a{
  display:inline-block;
  margin-top: auto;
  padding: 10px 30px;
  background:#0ef;
  color:white;
  border-radius:10px;
  text-decoration:none;
  font-weight:bold;
  margin-bottom: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
  background:  rgba(0, 238, 255, 0.5);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  transition: 0.3s ease;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #0ef;
  transform: scale(1.1);
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

/*============Contact==================*/

.contact-section > .contact-title > h1 {
  color: #0ef;
  text-align: center;
  font-size: 35px;
  padding-bottom: 10px;
}

.contact-section > .contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.detail-card{
  display: flex;
  align-items: center;
  border-radius: 20px;
  gap: 20px;
}


.contact-content .detail-card i{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background: #0ef;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #1f242d;
}

.contact-social h2{
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-top: 15px;
}

.contact-social .contact-social-media {
  display: flex;
  justify-content: center;
}
.contact-social .contact-social-media  a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  margin: 8px;
  text-decoration: none;
  transition: 0.5s ease;
}
.contact-social .contact-social-media a:hover {
  background: #0ef;
  color: aliceblue;
  box-shadow: 0 0 1rem #0ef;
}

.detail-card div h3{
  font-size: 25px;
  color: white;
}

.detail-card div h4{
  color:#bdbdbd;
  font-size:16px;
  font-weight:400;
}

.detail-title{
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.detail-des{
  font-size: 18px;
  color: rgb(201, 193, 193);
}


.contact-content > .form-content {
  /* border: 1px solid white; */
  background: #1f242d;
  border-radius: 15px;
  padding: 50px 35px;
}

.form-content .input-box {
  display: flex;
  /* border: 1px solid black; */
  padding-top: 15px;
  gap: 10px;
}


.form-content .input-box input {
  width: 87%;
  padding: 20px;
  border-radius: 20px;
  /* margin: 7px; */
  background: #323946;
  color: white;
  border: none;
  outline: none;
}
.form-content textarea {
  width: 100%;
  border-radius: 20px;
  background: #323946;
  color: white;
  padding: 20px;
  /* margin: 7px; */
  resize: none;
  border: none;
  outline: none;
}
#send {
  padding: 15px 50px 15px 50px;
  border-radius: 15px;
  /* box-shadow: 0 0 1rem #0ef; */
  font-size: 1rem;
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
  background: #0ef;
  border: none;
  margin-top: 20px;
  transition: 0.5s ease;
}
#send:hover {
  box-shadow: none;
}
.button-section {
  padding: 5px;
  text-align: end;
}


/* ========Footer============= */
footer {
  padding: 20px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

footer .footer-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  margin: 5px;

  text-decoration: none;
  transition: 0.5s ease;
}
footer .footer-social a:hover {
  background: #0ef;
  color: aliceblue;
  box-shadow: 0 0 1rem #0ef;
}
